<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
    

  <ion-list>
    <ion-item>
      <figure>
        <img id="yoImg" src="assets\images\yo.jpg">
      </figure>
    </ion-item>

    <ion-item>
      Nombre: Lenny M. Garcia. R
    </ion-item>

    <ion-item>
      Matricula: 3-19-6050
    </ion-item>

  </ion-list>

  
</ion-content>
